apiVersion: v1
kind: Service
metadata:
  name: go-web-app
spec:
  selector:
    app: go-web-app  # Changed to match Deployment labels
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080